@model IEnumerable<n01612422Cumulative1.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<div id="containerlist">
    <h2>List of Teacher</h2>
    <p>The Search function searches by name, and then by range of hire date and by range of salary if their value are specified.</p>
    <p>If any value of the range of hire date is empty, the search will ignore it and will not search by the range of the date.</p>
    <p>If any value of the salary range is empty, the search will ignore it and will not search by the salary range.</p>
    <form action="/Teacher/List" method="GET">
        <label for="search-key">Name:</label>
        <input class="form-control" id="search-key" type="text" name="SearchKey" autocomplete="off" />
        <!-- Modified salary search from a single value to a range of value accordnig to cumulative1 comment -->
        <div class="form-group">
            <label for="hire-date-from">Hired From:</label>
            <input class="form-control" type="date" id="hire-date-from" name="HiredFrom" value="2014-01-01" />

            <label for="hire-date-to">Hired From:</label>
            <input class="form-control" type="date" id="hire-date-to" name="HiredTo" value="2015-12-30" />
        </div>
        <!-- Modified salary search from a single value to a range of value accordnig to cumulative1 comment -->
        <div class="form-group">
            <label for="minSalary">Min Salary:</label>
            <input type="number" id="minSalary" name="MinSalary" class="form-control" />

            <label for="maxSalary">Max Salary:</label>
            <input type="number" id="maxSalary" name="MaxSalary" class="form-control" />
        </div>

        <div class="form-group">

        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" href="/Teacher/List" role="button">Reset Result Table</a>
        </div>
        
    </form>
    <nav>
        <a class="btn btn-success mt-2" href="/Teacher/New" role="button">Add A New Teacher</a>
        <a class="btn btn-success mt-2" href="/Teacher/New_Ajax" role="button">Add A New Teacher with Ajax</a>
    </nav>
    
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Employee Number</th>
            <th>Hire Date</th>
            <th>Salary</th>
        </tr>

        @foreach (var teacher in Model)
        {
            <tr>
                <td><a href="/Teacher/Show/@teacher.id">@teacher.id</a></td>
                <td>@teacher.fname</td>
                <td>@teacher.lname</td>
                <td>@teacher.employeeNum</td>
                <td>@teacher.hireDate</td>
                <td>@teacher.salary</td>
            </tr>
        }
    </table>
</div>